<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>500 Error Page</title>
</head>
<body>
    <h1>&#x1F61E; <i>Chautaari</i> is busy resolving server issues. Enjoy your<i>chiyaa</i> until then</h1>
    <h2>Running around village to find <i>Mukhiya</i>&#128527;</h2>
    <a href="/api/v1/swagger-ui.html">Swagger UI Home Page</a>
</body>
</html>